@import url("https://fonts.googleapis.com/css2?family=Prociono&display=swap");

/* Contenedor principal: Centra el formulario */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(135deg, #f5d48b 0%, #ffbe32 100%);
  padding: 1.25rem; /* 20px */
}

/* Caja del formulario */
.login-box {
  background: white;
  padding: 2.5rem;
  border-radius: 0.625rem;
  box-shadow: 0 0.25rem 0.9375rem rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 25rem;
  text-align: center;
}

.login-box h2 {
  margin-bottom: 1.5625rem;
  color: #333;
  font-size: 1.8rem;
  font-family: "Prociono", serif;
}

/* Grupo de Input */
.input-group {
  margin-bottom: 1.25rem;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #555;
}

.input-group input {
  width: 100%;
  padding: 0.75rem;
  border: 0.0625rem solid #ccc;
  border-radius: 0.3125rem;
  font-size: 1rem;
  transition: border-color 0.3s;
}

.input-group input:focus {
  border-color: #b8f3ff;
  outline: none;
}

/* Botón */
.login-button {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 0.3125rem;
  background-color: #2575fc;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 0.625rem;
  font-family: "Prociono", serif;
}

.login-button:hover {
  background-color: #0e63e2;
}

/* RESPONSIVE MÓVILES */

@media (max-width: 600px) {
  .login-container {
    padding: 0;
    background: #fff;
    align-items: flex-start;
    min-height: auto;
  }

  .login-box {
    padding: 1.5rem;
    margin-top: 2rem;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    border-radius: 0;
    border: none;
  }

  .login-box h2 {
    font-size: 1.7rem;
    text-align: left;
  }

  .input-group input {
    padding: 1rem;
  }
}
