/*  FILTROS  */
.filters-box {
  width: 80%;
  margin: 1.5625rem auto;
  background: #f0e4c8;
  padding: 0.9375rem 1.25rem;
  border-radius: 0.9375rem;
  display: flex;
  justify-content: center;
  gap: 2.1875rem;
  font-size: 1.125rem;
  border: 0.125rem solid #c9c0b5;
}

/* MAPA + LEYENDA  */
.map-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2.5rem;
  padding: 1.25rem;
  width: 100%;
  flex-wrap: wrap;
}

/* MAPA GRANDE  */
.map-container {
  width: 37.5rem;
  height: 31.25rem;
  max-width: 100%;
}

.map-container iframe {
  width: 100%;
  height: 37.5rem;
  min-height: 31.25rem;
  border-radius: 0.9375rem;
  border: 0.1875rem solid #d9d9d9;
}

/* LEYENDA  */
.legend-box {
  background: #fef8e7;
  padding: 1.5625rem;
  border-radius: 0.9375rem;
  width: 15.625rem;
  border: 0.125rem solid #e6d9b5;
}

.legend-box h3 {
  text-align: center;
  margin-bottom: 1.25rem;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  margin: 0.75rem 0;
  font-size: 1rem;
}

.circle {
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 50%;
  display: inline-block;
}

.low {
  background: #8be27f;
}

.medium {
  background: #f7c948;
}

.high {
  background: #ff8243;
}

/*  RESPONSIVE  */

@media (max-width: 768) {
  .filters-box {
    flex-wrap: wrap;
    gap: 1rem;
    text-align: center;
  }

  .legend-box {
    width: 100%;
    max-width: 20rem;
  }

  .map-container {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .filters-box {
    width: 95%;
    padding: 1rem;
  }

  .map-section {
    gap: 1.5rem;
    padding: 1rem;
  }

  .map-container iframe {
    height: 25rem;
  }

  .legend-box {
    text-align: center;
    width: 100%;
  }
}
