/* SECCIONES GENERALES */

section {
  width: 100%;
  padding: 3.75rem 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-gra1-Clima,
.div-gra1-Rec-Seguridad,
.div-gra1-Advertencias,
.div-gra1-Especies {
  width: 100%;
  max-width: 75rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5625rem;
  align-items: center;
  background-color: #faf3e1e6;
  border: 0.125rem solid #ddd;
  border-radius: 0.9375rem;
  padding: 0.625rem;
  backdrop-filter: blur(0.1875rem);
  font-family: Kadwa;
}

/* BLOQUES DE TEXTO */

.div-Clima-texto,
.div-Rec-Seguridad-texto,
.div-Advertencias-texto,
.div-Especies-texto {
  padding: 0.3125rem 0.625rem;
}

.div-Clima-texto h2,
.div-Rec-Seguridad-texto h2,
.div-Advertencias-texto h2,
.div-Especies-texto h2 {
  font-size: 1.875rem;
  margin-bottom: 0.9375rem;
}

.div-Clima-texto p,
.div-Rec-Seguridad-texto p,
.div-Advertencias-texto p,
.div-Especies-texto p {
  font-size: 1rem;
  line-height: 1.4;
  margin-bottom: 1.25rem;
}

/* MEDIOS (IMÁGENES – VIDEOS – IFRAMES) */

.div-Zonas-img,
.div-ZonasDetalle-img,
.div-Rutas-img,
.div-Listas-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9.375rem;
  height: 9.375rem;
}

.div-Zonas-img img,
.div-ZonasDetalle-img img,
.div-Rutas-img img,
.div-Listas-img img,
.div-Zonas-img iframe,
.div-ZonasDetalle-img iframe,
.div-Rutas-img iframe,
.div-Listas-img iframe {
  width: 100%;
  max-width: 32.5rem;
  border-radius: 0.75rem;
}

/* BOTONES */

section button {
  background-color: #b8f3ff;
  border: 0.125rem solid #333;
  padding: 0.625rem 1.5625rem;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0.625rem;
  font-family: Kadwa;
  margin-top: 0.625rem;
}

/* RESPONSIVE */

@media (max-width: 62rem) {
  /* 992px */
  .div-gra1-Clima,
  .div-gra1-Rec-Seguridad,
  .div-gra1-Advertencias,
  .div-gra1-Especies {
    grid-template-columns: 1fr;
    text-align: center;
    padding: 1rem;
  }

  .div-Zonas-img,
  .div-ZonasDetalle-img,
  .div-Rutas-img,
  .div-Listas-img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 600px) {
  section {
    padding: 2rem 1rem;
  }

  .div-gra1-Clima,
  .div-gra1-Rec-Seguridad,
  .div-gra1-Advertencias,
  .div-gra1-Especies {
    gap: 1rem;
  }

  .div-Clima-texto h2,
  .div-Rec-Seguridad-texto h2,
  .div-Advertencias-texto h2,
  .div-Especies-texto h2 {
    font-size: 1.5rem;
  }

  .div-Clima-texto p,
  .div-Rec-Seguridad-texto p,
  .div-Advertencias-texto p,
  .div-Especies-texto p {
    font-size: 0.95rem;
  }
}
