/* Tarjeta central */
.login-card {
  width: 35%;
  min-width: 280px;
  background-color: #faf3e1;
  margin: 80px auto;
  padding: 40px 20px;
  border-radius: 6px;
  border: 2px solid #ddd;
  text-align: center;
}

.btn {
  display: block;
  width: 70%;
  margin: 20px auto;
  background-color: #b8f3ff;
  padding: 12px;
  border: 2px solid #333;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  font-family: Kadwa;
  border-radius: 15px;
  text-decoration: none;
}
.login-card a {
  text-decoration: none;
}
